@use "variables" as v;

header {
    display: flex;
    background-color: v.$colorSecundario;
    width: 98vw;    
    height: 18vh;
    position: sticky;
    top: 0;
    justify-content: space-around;
    align-items: center;
    padding: 1vh;
    z-index: 10;
    gap: 10vw;
    .logo{
        width: 8vw;
        height: auto;
    }
    h1 {
        justify-self: center;
        width: 40%;
        color: #e91e63;
        font-size: 6vw;
        text-decoration: underline;
        text-shadow: 0 0 10px #e91e63;
        margin: 3vw;
    }
    .social-links{
        display: flex;
        width: 25vw;
        height: 18vh;
        gap: 3vw;
        justify-content: flex-end;
        align-items: center;
        .redes {
            width: 2vw;
            height: auto;
        }
    }
    @include v.mobile{
        height: 90px;
        .logo {
            width: 70px;
        }
        .social-links {
        display: none;
        }   
        h1 {
        font-size: 8vw;
        }
    }
}
